<tr>
  <td class="p-3">
    <%= reservation.user %>
  </td>
  <td class="p-3">
    <%= reservation.seat %>
  </td>
  <td class="p-3">
    <%= reservation.flight.origin %> -> <%= reservation.flight.destination %> at <%= reservation.flight.datetime.strftime("%Y-%d-%m") %>
  </td>
  <td class="p-3 separate-childs">
    <%= link_to "Edit", edit_admin_reservation_path(reservation), class: "button is-info" %>
    <%= button_to "Delete", admin_reservation_path(reservation), method: :delete, class: "button is-danger" %>
  </td>
</tr>
