<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<%= form_with url: admin_reservations_path, method: :get do |form| %>
  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.text_field :user, value: @filter_user  %>
  </div>
  <div>
    <%= form.submit value: "Filter" %>
  </div>
<% end %>


<div id="reservations">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
  <% end %>
</div>
