<tr class="admin-flight-row">
  <td>
    <%= flight.datetime %>
  </td>

  <td>
    <%= flight.origin %>
  </td>

  <td>
    <%= flight.destination %>
  </td>
  <td>
    <%= flight.occupation_percentage %> %
  </td>

  <td>
  <%= button_to "Delete", admin_flight_path(flight), method: :delete %>
  </td>
</tr>



