<div id="<%= dom_id flight %>">
  <p>
    <strong>Datetime:</strong>
    <%= flight.datetime %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= flight.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>
  
  <%= button_to "Delete", admin_flight_path(flight), method: :delete %>


</div>
