<%= form_with url: new_admin_flight_path, scope: flight do |form| %>
  <% if flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>
      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :datetime, class: "label" %>
    <%= form.datetime_field :datetime , class: "input" %>
  </div>
  <div class="field">
    <%= form.label :origin, class: "label" %>
    <%= form.text_field :origin , class: "input" %>
  </div>
  <div class="field">
    <%= form.label :destination, class: "label" %>
    <%= form.text_field :destination , class: "input" %>
  </div>
  <div class="field center-child p-4">
    <%= form.submit value: "Create Flight", class: "button is-primary" %>
  </div>
<% end %>
