<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flight-stats">
  <p>Total Reservations: <%= @total_reservations %></p>
  <p>Total Users: <%= @total_users %></p>
  <p>Total Flights: <%= @total_flights %></p>
  <p>Average Occupation: <%= @average_occupation %> %</p>
</div>

<table id="admin-flights-table">
  <tr>
    <th>Datetime</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Occupation</th>
    <th>Delete</th>
  </tr>
  <% if @flights.empty? %>
    <tr>No Flights</tr>
  <% else %>
    <% @flights.each do |flight| %>
      <%= render flight %>
    <% end %>
  <% end %>
</table>


<%= link_to "New flight", new_admin_flight_path %>
