<%= form_with url: reservations_path(@flight) do |form| %>
  <p><%= "Can't repeat seats" if @repeated_seats%></p>
  <% if @errors %>
    <div style="color: red">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error.full_messages %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :user, class: "label" %>
    <%= form.text_field :user, class: "input" %>
  </div>
  <div class="field">
    <%= form.label :seats, class: "label" %>
    <%= form.text_field :seats , class: "input" %>
  </div>
  <div class="field">
    <%= form.submit "Reserve", class: "button"%>
  </div>
<% end %>
