<header>
  <%= stylesheet_link_tag "navbar" %>
  <div id="navbar">
    <%= link_to "Admin", admin_flights_path, class: @admin ? "selected" : "" %>
    <%= link_to "User", flights_path, class: @admin ? "" : "selected" %>
    <% if @admin %>
  </div>
  <div id="admin-navbar">
    <%= link_to "Flights", admin_flights_path %>
    <%= link_to "Reservations", admin_reservations_path %>
    <% end %>
  </div>
</header>